body{
  background-color: #cedde9;

}
  h1{
    margin-left: 40%;
    text-align: center;
    width:250px;
    text-decoration:underline;
    text-shadow: 1px 1px 20px black;
    font-family:-webkit-pictograph;
}
                                                @media screen and (min-height: 1500px){
                                                  h1{
                                                    margin-left: 37%;
                                                  }
                                                }
main{
  display:flex;
}
  #buttonBox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:400px;
    width: 250px;
    margin-top: 60px;
  }
                                                @media screen and (min-height: 1500px){
                                                  #buttonBox{
                                                    position:absolute;
                                                    width:500px;
                                                    height:700px;
                                                    margin-top: 80%;
                                                    margin-left: 23%;
                                                  }
                                                }
    button{
      height: 50px;
      border-radius: 5px;
      background-color:#b00505;
      border:none;
      box-shadow:2px 2px 30px black;
      font-family: walsheim-bold;
      font-size: 20px;
    }
                                                @media screen and (min-height: 1500px){
                                                  button{
                                                    height:80px;
                                                  }
                                                }
    button:hover{
      height: 50px;
      border-radius: 5px;
      background-color:#b00505;
      border:2px solid white;
      box-shadow:2px 2px 10px white;
    }
      #gridSizeBtn{
        display:flex;
        justify-content: space-between;
      }
      .colorMenu{
        display:none;
        border:1px solid blak;
        background: rgb(231, 208, 200);
        box-shadow: 2px 2px black;
        z-index: 2;
        position:fixed;
        width: 130px;
        height:150px;
        margin-left: 10%;
      }
      .colorMenuActive{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid black;
        background: rgb(231, 208, 200);
        box-shadow: 2px 2px black;
        z-index: 2;
        position:fixed;
        width: 130px;
        height:150px;
        margin-left: 10%;
      }
          .colorBtn{
            background-color:white;
            border-radius: 25px;
            box-shadow: 2px 2px white;
            width: 50px;
            height: 30px;
            margin: 10px;
            font-family:serif;
            font-size: 20px;
          }
          .colorBtn:hover{
            background-color:white;
            box-shadow: 2px 2px gray;
            border-radius: 25px;
            width: 50px;
            height: 30px;
            margin: 10px;

          }
#gridContainer{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-around;
  box-shadow: 10px 10px 3px black;
  border: 40px solid #b00505;
  border-radius: 30px;
  background-color:white;
  min-height: 500px;
  min-width:  500px;
  max-height: 500px;
  max-width: 500px;
  padding:none;
  margin-left: 10%;
}
                                                @media screen and (min-height: 1500px){
                                                  #gridContainer{
                                                    margin-left: 20%;
                                                  }
                                                }

 .box {
    border: 1px solid lightgray;
    margin:none;
    padding:none;
  }